led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    reg = <0>;
    spi-max-frequency = <4000000>;
    chain-length = <7>;  // ← este número debe ser exacto
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
};

&led_strip {
    status = "okay";
};
